.navbar-brand{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a, h1, h2, h3, .btn.btn-dark{
  font-family: 'Changa', sans-serif;
}

.dark{
  background-color: black;
}

.product{
  text-align:center;
}

.proimage{
  justify-content: center;
}

.proimage img{
  margin-top: 50px;
  margin-bottom:20px;
  width: 20em;
  height: 20em;
  border-radius: 60%;
}

table, td, th {
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 20px;
  font-family: 'Changa', sans-serif;
  color: white;
  padding: 10px;
}

.size-chart{
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-y: scroll;
  height:235px;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

.chart{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Changa', sans-serif;
}


.prodetail{
  padding-top: 35px;
  background-color: white;
  height: 42em;
}

.prodetail h1{
  margin-left: 20px;
  font-size: 50px;
  color: black;
}

.prodetail h2{
  margin-left: 20px;
  font-size: 30px;
  color: black;
}

.prodetail h3{
  margin-left: 20px;
  font-size: 20px;
  color: black;
}

.prodetail select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.prodetail input{
  width: 60px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  margin: 20px;
}

.wish{
  padding-bottom: 60px;
}

.wish button{
  margin-right: 10px;
  border-radius: 20px;
  padding: 15px;
  display: inline-block;
  float: right;
}

.add button{
  margin-top: -30px;
  margin-right: 10px;
  border-radius: 20px; 
  height: 50px;
  width: 150px;
  display: inline-block;
  float: right;
}

.usable{
  color: white;
  margin-top: 7.5vh;
}

@media screen and (max-width:991px) {
  .usable{
    color: white;
    margin-top: 16.5vh;
  }
}
.add button:hover, .wish button:hover{
   transform: scale(1.1);
}

footer {
  background-color: white;
  position: relative;
  padding: 5px 10px;
  margin-top: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: 10px auto;
}

.footer-brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}

.footer-brand {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-brand-container span {
  color: gray;
  font-weight: 500;
  margin: 10px;
  font-size: 15px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 6px;
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px;
}

.footer-menu-box strong {
  color: black;
  font-size: 17px;
  font-weight: 700;
  text-tranform: uppercase;
  letter-spacing: 1px;
}

.footer-menu-box p {
  color: gray;
  font-size: 15px;
  margin: 5px 0px;
}

.footer-menu-box ul li a,
.footer-menu-box ul li {
  color: gray;
  font-size: 15px;
  margin: 5px 0px;
  text-decoration: none;
}

li{
  border-bottom: none;
}

.footer-menu-box ul li a:hover {
  color: black;
  transition: all ease 0.3;
}

.copyright {
  padding: 15px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}


